#
# Copyright by @@LICENSE_ORGANISATION@@, all rights reserved.
# @@LICENSE@@
#

apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.@@KUBERNETES_LABEL_ID@@.configmap: @@KUBERNETES_APPLICATION_CONFIG_NAME@@
  name: @@KUBERNETES_APPLICATION_CONFIG_NAME@@
  namespace: @@KUBERNETES_NAMESPACE@@
data:
  @@KUBERNETES_DATABASE_KIND_KEY@@: @@KUBERNETES_DATABASE_DEFAULT_KIND@@
  @@KUBERNETES_DATABASE_URL_KEY@@: @@KUBERNETES_DATABASE_URL@@
  @@KUBERNETES_DATABASE_MAXSIZE_KEY@@: "@@KUBERNETES_DATABASE_MAXSIZE_VALUE@@"
#  @@KUBERNETES_APPLICATION_OIDC_CLIENT_ID_KEY@@: @@KUBERNETES_APPLICATION_OIDC_CLIENT_ID@@
#  @@KUBERNETES_APPLICATION_OIDC_AUTH_SERVER_URL_KEY@@: "@@KUBERNETES_APPLICATION_OIDC_AUTH_SERVER_URL@@"
#  @@KUBERNETES_APPLICATION_OIDC_TOKEN_ISSUER_KEY@@: "@@KUBERNETES_APPLICATION_OIDC_TOKEN_ISSUER@@"