#
# Copyright by @@LICENSE_ORGANISATION@@, all rights reserved.
# @@LICENSE@@
#

apiVersion: v1
kind: Secret
metadata:
  labels:
    app.@@KUBERNETES_LABEL_ID@@.secret: @@KUBERNETES_DATABASE_SECRET_NAME@@
  name: @@KUBERNETES_DATABASE_SECRET_NAME@@
  namespace: @@KUBERNETES_NAMESPACE@@
type: Opaque
data:
# contains base64 encoded values
  @@KUBERNETES_DATABASE_USERNAME_KEY@@: @@KUBERNETES_DATABASE_USERNAME@@
  @@KUBERNETES_DATABASE_PASSWORD_KEY@@: @@KUBERNETES_DATABASE_PASSWORD@@
