/*
 * build.gradle
 *
 * Copyright by @@LICENSE_ORGANISATION@@, all rights reserved.
 * @@LICENSE@@
 */
apply from: "@@COMMON_GRADLE_BUILD_URL@@"


/@@STAR_LINE@@
 * Define project dependencies
 @@STAR_LINE@@/
dependencies {
}
