# scm files
.gradle/
.git/
.gitattributes
.gitignore
.dockerignore

# conf folder
conf/

# gradle scripts
gradle/*
gradle
gradlew
gradlew.*
gradle.properties
*.gradle

# general files
.editorconfig
README.md

# Ignore temp output directory
test/

# Ignore temp output directory
tmp/
temp/

# Ignore source directory
src/

# mac / OSX files
.DS_Store

# IDE / Editor
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# vi swap files
*.swp
*.swo
