/***************************************************************************************
 * Maven credentials
 ***************************************************************************************/
mavenUsername=
mavenPassword=


/***************************************************************************************
 * Signing credentials
 ***************************************************************************************/
signing.keyId=
signing.password=
signing.secretKeyRingFile=
