rootPackageName     = @@rootPackageName@@
rootGroupId         = @@rootGroupId@@
rootComponent       = @@rootComponent@@
rootDescription     = @@rootDescription@@
rootUrl             = @@rootUrl@@
//sourceCompatibility = @@sourceCompatibility@@
//targetCompatibility = @@targetCompatibility@@
org.gradle.jvmargs  = @@jvmarg@@
