/*
 * build.gradle
 *
 * Copyright by @@rootProject.name@@, all rights reserved.
 * @@LICENSE@@
 */
apply from: 'gradle/jptools.gradle'

/@@LINE@@
 * Define project dependencies
 @@LINE@@/
dependencies {
	//implementation 'net.sf.jptools:jptools:1.7.0'
}
