/*
 * Native@@fileName@@
 *
 * Copyright by @@LICENSE_ORGANISATION@@, all rights reserved.
 * @@LICENSE@@
 */

package @@packageName@@;

import io.quarkus.test.junit.NativeImageTest;


/**
 * Native@@className@@.
 *
 * <p>! This is just a sample please remove it. !</p>
 */
@NativeImageTest
public class Native@@className@@ extends @@className@@ {
    // Execute the same tests but in native mode.
}
